//colors
$sky-blue-light: #71dee8;
$sky-blue: #33d0de;
$white: #fff;
$light-gray: #f8f8f8;
$gray: #f6f6f6;
$dark-gray: #c5c5c4;
$darker-gray: #707070;
$dark: #333333;

//sections
$margin-bottom: 4.5rem;
$section-padding: 4rem 0;