.main-header{
    position: absolute;
    width: 100%;
}

.nav-container{
    grid-column: 2 / 3;
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:10px;
    
}

.main-nav{
    &__item{
        color:$white;
        margin-left:10px;
    }
}

.banner-image{
    width: 100%;
}

.banner-image__button{
    position: absolute;
    top: 70%;
    right: 7.2%;
}