.svg {
  width: 22px;
  height: 22px;
  &-nav {
    fill: none;
    stroke: currentColor;
    vertical-align: bottom;
    stroke-miterlimit: 10;
    stroke-width: 2.5;
  }
}

// --------- GLASSES, HANGER & BOWTIE -------

.glass-1,
.glass-2 {
    fill: none;
    stroke: currentColor;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}

.glass-1 {
    stroke-linecap: round;
}

.glasses-icon{
  width: 60px;
  height: 60px;
}

.slaufa, .hanger {
  fill: none;
  stroke:currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  &-icon{
    width: 60px;
    height: 60px;
  }
}

// --------- LOGO -------

.cls-1 {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
  width: 22px;
  height: 22px;
}

.cls-2{
  fill: currentColor;
}


// --------- NAVIGATION ICONS -------


.shopping-bag-icon {
  stroke-linecap: round;
  stroke-linejoin: round;
}


.search-icon-line {
  stroke-linecap: round;
}


// --------- MAIL ICON -------

.mail-icon {
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}


// --------- PRODUCT ICONS -------

.quick-view-icon,
.heart-icon {
  fill: #fff;
}


// --------- SOCIAL MEDIA ICONS -------


.st0 {
  display: none;
}

.st3 {
  fill: none;
  stroke: currentColor;
  stroke-width: 0.25;
  stroke-miterlimit: 10;
}
.st4 {
  fill: currentColor;
}

.social-media-icons__item{
  color:#b5b5b5;
  &:hover{
    color:$sky-blue;
    transform: scale(1.15);
    cursor: pointer;
  }
}
